@font-face {
	font-family: Proximanova;
	src: url('./assets/Demo_Fonts/Fontspring-DEMO-proximanova-regular.otf');
}

:root {
  --light-green: #4abd88;
  --lime-green: #C6F6D5;
  --mid-green: #0db04b;
  --deep-green: #11823B;
  --dark-green: #22543D;
  --text-primary: #000000;
  --white: #ffffff;
  --input-border: #e5e5e5;

  --body-bg: #F3F3EF;
  --banner-details-header: #1D1D21;
  --banner-details-tag-bg: #FEEBCB;
  --banner-details-tag-text: #744210;
  --deep-grey: #333333;
  --light-grey: #777777;
  --mid-grey: #444444;
  --btn-bg: #DFE3E8;

  --product-type-bg: #B2F5EA;
  --product-type-text: #234E52;
  --product-discount-bg: #FEEBCB;
  --product-discount-text: #744210;

  --footer-bg: #ECECE8;
}
html {
  max-width: 1280px;
  min-width: 320px;
  min-height: 100vh;
  margin: 0 auto;
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Proximanova',  Arial, sans-serif;
}
.special-element {
  font-family: Arial, sans-serif;
}
