.banner {
    height: 621px;
    background-color: var(--body-bg);
}
.banner-nav p{
    display: flex;
    align-items: center;
    padding: 32px 0 0 44px;
    font-weight: 400;
}
.banner-nav span {
    color: var(--deep-green);
}
.banner-content {
    padding: 50px 0 0 46px;    
    display: flex;
}
.banner-img {
    padding-top: 60px;
    width: 380px;
    position: relative;
}
.banner-img-obj {
    position: absolute;
    bottom: 40px;
    right: 40px;
}
.banner-img-obj2 {
    position: absolute;
    top: 35px;
    left: 0px;
}
.banner-details {
    width: 428px;
}
.banner-details-header {
    color: var(--banner-details-header);
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
}
.banner-details-tag {
    text-align: center;
    padding: 3px;
    width: 110px;
    background-color: var(--banner-details-tag-bg);
    font-weight: 700;
    color: var(--banner-details-tag-text);
}
.banner-details-price {
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    color: var(--deep-grey);
    padding: 16px 0 0 0;
    display: flex;
    align-items: center;
}
.banner-details-price span {
    color: var(--deep-green);
    font-size: 24px;
    margin-left: 16px;
    text-decoration: line-through;
    text-decoration-color: red;
}

.banner-details-table {
    padding-top: 20px;
}
.table-column {
    padding: 0 16px 14px 0;
    color: var(--deep-grey);
    font-weight: 700;
    font-size: 14px;
}
.table-row-1 {
    color: var(--deep-green);
    font-weight: 700;
    font-size: 14px;
    padding: 0 0 14px 0;
}
.table-row-2 {
    padding: 0 0 14px 0;
    color: var(--light-grey);

}
.table-row-3 span {
    font-size: 12px;
    font-weight: 700;
    padding: 1px 4px;
    margin-right: 4px;
    margin-bottom: 4px;
    border-radius: 2px;
    background-color: var(--lime-green);
    color: var(--dark-green);
}
.banner-info {
    width: 329px;
    padding-top: 43px;
    font-weight: 400;
    font-size: 12px;
    color: var(--deep-grey);
}
.banner-btn {
    margin-top: 20px;
    display: flex;
}
.btn-1 {
    width: 316px;
    height: 48px;
    font-weight: 600;
    font-size: 18px;
    color: var(--white);
    background-color: var(--mid-green);
    border: none;
    border-radius: 4px;
}
.btn-2 {
    width: 48px;
    margin-left: 8px;
    background-color: var(--white);
    font-size: 20px;
    border: none;
    border-radius: 4px;
}
.related-items {
    margin-left: 45px;
    width: 306px;
}
.related-items-header {
    font-size: 24px;
    font-weight: 700;
}
.item-container {
    margin: 16px 0;
}
.item-card {
    display: flex;
    justify-content: space-between;
    padding: 8px;
}
.left-part {
    display: flex;
}
.item-detail {
    width: 170px;
}
.item-img {
    margin-right: 14px;
    width: 62px;
}
.item-title {
    font-weight: 400;
    font-size: 14px;
}
.item-weight {
    font-weight: 600;
    font-size: 10px;
    color: var(--light-grey);
}
.item-price {
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
}
.item-btn {
    background-color: var(--deep-green);
    color: var(--white);
    border: none;
    padding: 2px 0 0 2px;
    border-radius: 50%;
    width: 26px;
    height: 26px;
}